SPRING_PROFILES_ACTIVE=mysql
SERVER_PORT=8080
TAKEOUT_PERSISTENCE=mysql
TAKEOUT_DB_URL=jdbc:mysql://localhost:13306/takeout?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
TAKEOUT_DB_USERNAME=takeout
TAKEOUT_DB_PASSWORD=takeout_dev_123
