SPRING_PROFILES_ACTIVE=mysql
SERVER_PORT=8080
TAKEOUT_PERSISTENCE=mysql
TAKEOUT_DB_URL=jdbc:mysql://localhost:13306/takeout?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
TAKEOUT_DB_USERNAME=takeout
TAKEOUT_DB_PASSWORD=takeout_dev_123
TAKEOUT_RABBITMQ_ENABLED=true
TAKEOUT_RABBITMQ_HOST=localhost
TAKEOUT_RABBITMQ_PORT=5672
TAKEOUT_RABBITMQ_USERNAME=takeout
TAKEOUT_RABBITMQ_PASSWORD=takeout_dev_123
TAKEOUT_RABBITMQ_EXCHANGE=takeout.events
TAKEOUT_RABBITMQ_QUEUE=takeout.events.main
TAKEOUT_RABBITMQ_DLQ=takeout.events.dlq
TAKEOUT_RABBITMQ_CONSUMER_ENABLED=true
TAKEOUT_RABBITMQ_CONSUMERS=2
TAKEOUT_RABBITMQ_PREFETCH=50
